<?xml version="1.0" encoding="UTF-8"?>
<konfigurazioa>
  <hizkuntza>eu</hizkuntza>
  <kolore_nagusia>#4450ee</kolore_nagusia>
  <bigarren_kolorea>#3f37c9</bigarren_kolorea>
  <footer_kolorea>#1f277a</footer_kolorea>
  <gaia>iluna</gaia>
  <osasun_zentroa>
    <sistema_izena>GOsasun</sistema_izena>
    <mediku_bakoitzeko_gehienezko_hitzorduak>20</mediku_bakoitzeko_gehienezko_hitzorduak>
    <ordutegia_ireki>08:00</ordutegia_ireki>
    <ordutegia_itxi>20:00</ordutegia_itxi>
    <mantenimendu_modua>ez</mantenimendu_modua>
  </osasun_zentroa>
</konfigurazioa>
