desktop.ini
.DS_Store
Thumbs.db
*.tmp
node_modules/
dist/
.env
pdf_txostenak/
xml_konfigurazioa/
pdf_bezero_txostenak/
xml_bezero_neurketak/

pasahitzak.txt
paziente_dokumentuak/*.pdf
xml_paziente_neurketak/*.xml
